body {
  background-image: url("/media/background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: 'Rajdhani', Arial;
  color: white;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 6.5%;
}

.homebuttons {
  text-align: center;
  color: black;
  background-color: rgb(212, 212, 212);
  border: 4px solid rgb(42, 117, 214);
  border-radius: 3px;
  padding: 2px;
  width: 200px;
  font-family: 'Rajdhani', Arial;
  margin: auto;
  font-size: 20px;
  display: left;  
  justify-content: center;  
  align-items: center;
  text-decoration: none;
}
